.files-page{
  display: inline-block;
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 1rem;
}

.folder-filesPage-container {
display: inline-block;
margin-right: 1rem;
font-size: 1.5em;
}

.file-link span {
  font-size: 1.5rem;
}

.file-filesPage-container {
display: inline-block;
}
