.landingPage-container {
  height: 500px;
}

.login-container {
  text-align: center;
}

.register-container {
  text-align: center;
}

.forgot-pw-container {
  text-align: center;
}

.landing-title {
font-size: 6rem;
}

.login-register-form {
  margin-top: 2rem;
}

.login-input{
  display: block;
  outline: 0;
  border: 0;
  background: $primary-yellow;
  border-bottom: 1px solid lightgrey;
  color: white;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.25s;
  font-weight: 300;
  width: 52%;
}

.login-input::-webkit-input-placeholder {
  color: white;
}

button{
  appearance: none;
  outline: 0;
  border: 0;
  padding: 1rem 3rem;
  background-color: $primary-logo-lightblue;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin-bottom: 1rem;

  &:hover{
    background-color: $primary-yellow;
    color: $primary-logo-lightblue;
  }
}

@media(min-width:650px) {
  .login-input{
    width: 30%;
  }

  .landingPage-container {
      height: 800px
  }
}

@media(min-width:800px) {
  .login-input{
    width: 15%;
  }
}
